header {
    padding: 30px;
    text-align: center;
    background-color: rgb(218, 218, 218);
}

main {
    display: grid;
    grid-template-columns: 70% 30%;
}

.main-part {
    display: grid;
    grid-template-areas: 
    "text text"
    "one two"
    "three three";
    gap: 20px;
    padding: 20px;
    background-color: rgb(255, 233, 193);
}

.main-div {
    text-align: center;
    background-color: rgb(255, 179, 93);
}


#text {
    grid-area: text;
    text-align: center;
    background-color: rgb(255, 233, 193);
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

.side {
    text-align: center;
    background-color: rgb(226, 255, 193);
}

footer {
    display: grid;
    grid-template-areas: 
    "div-one div-two div-three div-four";
    gap: 25px;
    padding: 25px;
    background-color: rgb(218, 218, 218);
}

.footer-div {
    background-color: white;
}

.section {
    text-align: center;
}

p {
    font-size: larger;
}

#div-one {
    grid-area: div-one;
}

#div-two {
    grid-area: div-two;
}

#div-three {
    grid-area: div-three;
}

#div-four {
    grid-area: div-four;
}

@media screen and (max-width: 444px) {
    p {
        font-size: 15px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main {
        display: flex;
        flex-flow: column nowrap;
    }
}